.favouriteContainer {
  border: 2px solid $pink-light;
  border-radius: $border-radius;
  width: 240px;
  height: 400px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: scroll;
  .favouriteTitle {
    font-family: $main-font;
    color: $pink-light;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
  }
  .favouriteArtist {
    font-family: $main-font;
    color: $pink;
    margin: 10px;
  }
}

@include respond(tablet) {
  .favouriteContainer {
    margin: 0;
	display: block;
	overflow-x: hidden;
	overflow: hidden;
    margin-top: 30px;
    &:hover {
      overflow: scroll;
      overflow-x: hidden;
    }
  }
}
