// google fonts
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

// variables
$main-font: "Raleway", sans-serif;
$background: #292533;
$blue: #749df3;
$sky-blue: #63d9f7;
$smoke-white: #fbfafb;
$pink: #f6548f;
$pink-light: #fdb3c2;
$border-radius: 15px;
