
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

$main-font:'Raleway', sans-serif;
$background:#292533;
$blue: #749DF3;
$sky-blue: #63D9F7;
$smoke-white: #FBFAFB;
$pink: #F6548F;
$pink-light: #FDB3C2;
$border-radius: 15px;


