.mainContainer {
  background-color: $background;
  margin: 0;
  box-sizing: border-box;
  min-height: 900px;
  width: 100%;
  border-radius: $border-radius;
  border: 5px solid $blue;
  .logo {
    width: 300px;
    margin: auto;
    padding-top: 60px;
    display: block;
  }
  .contentContainer{
    
  }
}

@include respond(tablet) {
  .mainContainer {
    .logo {
      width: 400px;
    }
    .contentContainer {
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }
  }

}

@include respond(desktop) {

}